#imaginarium li {
    width: 200px;
    height: 200px;
/*    display: table-cell;
    padding: 5px;
    text-align: center;
    vertical-align: middle;*/
}

#imaginarium li div.img.checked img {
    border-bottom: 5px solid limegreen;
    border-top: 5px solid limegreen;
    padding-bottom: 5px;
    padding-top: 5px;
}


#imaginarium li.checked .uk-thumbnail-caption {
    background-color: limegreen;
}